<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>
<!-- app/views/sessions/new.html.erb -->

<h1>Login</h1>

<%= form_with(url: sessions_path, method: 'post') do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit 'Log in' %>
  </div>
<% end %>
